//
//  Development.xcconfig
//  garbageCollection
//
//  Created by Raphael Souza on 2019-10-17.
//  Copyright © 2019 Raphael Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-garbageCollection/Pods-garbageCollection.debug.xcconfig"

APP_NAME = Coleta β

PARSE_APP_ID = garbageCollection-appId-8rp3vGzbhPVMQKNB
PARSE_SERVER_URL = http:/$()/fortaleza-garbage-collection.herokuapp.com/parse
