<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27471164562-kkh7fp9mn9bs6nct4sbvd7v0eg509vi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27471164562-kkh7fp9mn9bs6nct4sbvd7v0eg509vi7</string>
	<key>API_KEY</key>
	<string>AIzaSyBcI3Y99uSSyfCO5JSCMf92VIis9W9wrtI</string>
	<key>GCM_SENDER_ID</key>
	<string>27471164562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raphaelsouza.garbageCollection</string>
	<key>PROJECT_ID</key>
	<string>fortaleza-collection</string>
	<key>STORAGE_BUCKET</key>
	<string>fortaleza-collection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27471164562:ios:0cbb6a1db3fc6b24f1a24b</string>
	<key>DATABASE_URL</key>
	<string>https://fortaleza-collection.firebaseio.com</string>
</dict>
</plist>